.gamePage {
  text-align: center;

  h1 {
    padding: 20px;
    margin: 10px 0 10px 0;
    font-weight: 700;
    font-size: 2.5rem;
    background: linear-gradient(to right, #fe8c00, #f83600);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
