.gameOver {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 400px;
  background-color: #878582;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.stats span {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

.stats img {
  width: 42px;
  height: 42px;
  margin-left: 10px;
}
